@width: 960px;
@mediawidth: 256px;
@mediaheight: 178px;
@borderradius:10px;

.mediaborder{
  border: solid 7px #fff;
  border-image: url('img/border.png') 27 27 27 27 round round;
  border-radius: @borderradius;
  box-shadow: 0 3px 4px #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  
}
  
body{
  background-color: #000;
}
#wrap{
  background-image: url('img/bg_top.jpg');
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}

#main{
  margin: 0 auto;
  min-height: 2116px;
  width: @width;
}

header{
  height: 200px;
  width: @width;
  margin-bottom: 75px;
}

#mediaclips{
  width: @width;
}

#mediaclips div{
  .mediaborder;
  background: #000;
  float: left;
  width: @mediawidth;
  height: @mediaheight;
  margin: 0 24px 32px 24px;
}

#content{
  width: @width;
  column-count: 3;
  column-width: 246px;
}

#footer{
  background-image: url('img/footer_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

}
footer{
  
  height: 238px;
  width: @width;
  margin: 0 auto;
}


