@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@width: 960px;
@mediawidth: 270px;
@mediaheight: 192px;
@mediawidthinner: 256px;
@mediaheightinner: 178px;
@borderradius:10px;

.mediaborder{
  border: 7px solid rgba(255, 255, 255, .5);
  border-radius: @borderradius;
  box-shadow: 0 3px 4px #000;
}
  
body{
  background-color: #000;
}
#wrap{
  background-image: url('img/bg_top.jpg');
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}

#main{
  margin: 0 auto;
  min-height: 2116px;
  width: @width;
}

header{
  height: 200px;
  width: @width;
  margin-bottom: 75px;
}

#mediaclips{
  width: @width;
}

#mediaclips .border {
  background: url('img/mediaclips_border_bg.png');
  border-radius: @borderradius;
  float: left;
  margin: 0 17px 32px 17px;
  padding: 7px;
}

.border .img {
  background: #000;
  width: @mediawidth;
  height: @mediaheight;
  
}

#content{
  width: @width;
  column-count: 3;
  column-width: 246px;
}

#footer{
  background-image: url('img/footer_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

}
footer{
  
  height: 238px;
  width: @width;
  margin: 0 auto;
}


